.dashboard {
    /* background: url("https://img.discogs.com/NVjFwq2t6pbSBlz8WMuKbJImiPI=/fit-in/300x300/filters:strip_icc():format(jpeg):mode_rgb():quality(40)/discogs-images/R-8624383-1465386043-1309.jpeg.jpg"); */
    width: 100%;
    perspective: 1500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }